footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: var(--color-black);
    gap: 20px;
    padding: 20px 0;
}
hr {
    width: 90vw;
    color: var(--color-white);
}

.paragraph-footer {
    font-size: 0.9rem;
    color: var(--color-white);
}