    /*---- Global-Home ----*/

#home {
    height: 100svh;
    background: var(--color-background);
    position: relative;
}

h1 {
    width: 420px;
    font-size: 3rem;
    color: var(--color-gray);
    margin-bottom: 12px;
}

a {   
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.20s ease;
}


            /*-- Header --*/
    
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100svw;
    height: 72px;
    justify-content: space-between;
    align-items: center;
    background: var(--color-background);
    padding: 0px 20px;
    box-shadow: var(--shadow-header);
    z-index: 10;
}

.list-navigation {
    list-style: none;
}

.list-item a {
    display: block;
    font-size: 1rem;
    color: var(--color-gray);
    padding: 20px;
}

.list-item a.link-active {
    color: var(--color-white);
    background: var(--color-gray-opacity);
    border-radius: 10px;
}

.container-menu {
    display: none;
}

        /*-- End-Header --*/
    
        /*-- Hero --*/
    
.hero-container {
    width: 100%;
    height: 100%;
    align-items: center;
    padding-left: 120px;
}

.hero-content {
    max-width: 530px;
    flex-direction: column;
    gap: 72px;
}

.paragraph-hero {
    width: 100%;
    color: var(--color-white);
}
    
            /*-- image-hero --*/
    
.container-img-hero {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translate(0%, -50%);
}

.picture-hero {
    z-index: 2;
    position: absolute;  
}

.picture-hero img {
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.20);
}

.img-hero-accent {
    position: relative;
    width: 512px;
    height: 452px;
    left: 20px;
    top: 20px;
    background: var(--color-gray);
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.20);
    z-index: 1;
}

        /*-- End-hero --*/



        /*-- Scroll-Indicator --*/

.scroll-indicator {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 0.9rem;
}

.scroll-indicator span ion-icon {
    width: 20px;
    color: var(--color-gray);
}

        /*-- End-Scroll-Indicator --*/



    /*-- Animations --*/

            /*-- Menu-Navigation --*/

.open-menu.active {
    animation: iconopen .5s ease-in-out;
}

.close-menu.active {
    animation: iconclose  .5s ease-in-out;
}

@keyframes iconopen {
    from {
        transform: rotate(60deg);
        opacity: 0;
    } 
    
    to {
        transform: rotate(0deg);
        opacity: 1;
    }
}

@keyframes iconclose {
    from {
        transform: rotate(-60deg);
        opacity: 0;
    } 
    
    to {
        transform: rotate(0deg);
        opacity: 1;
    }
}

            /*-- End-Menu-Navigation --*/

    /*-- End-Animations --*/



    /*---- Media queries ----*/

@media (min-width: 1251px) and (max-width: 1440px) {
    .hero-container {
        padding-left: 60px;
    }

    .container-img-hero {
        right: 5%;
    }
}

@media (max-width: 1250px) {

    .container-img-hero {
        right: 0px;
        position: relative;
        transform: translate(0%, 0%);
    }
}


@media (max-width: 1024px) {

    
    .hero-container {
        padding: 0px 20px;
    }

    .img-hero-accent {
        width: 384px;
        height: 339px;
    }
}

@media (max-width: 768px) {
    /*-- Global */
    h1 {
        width: 100%;
        font-size: 2.5rem;
    }

    /*-- header --*/
    .container-menu {
        display: block;
        user-select: none;
    }
    
    .container-menu .open-menu, .container-menu .close-menu {
        display: none;
        font-size: 2.5rem;
        color: var(--color-gray);
    }

    .open-menu.active, .close-menu.active {
        user-select: none;
        --webkit-user-select: none;
        --moz-user-select: none;
        --ms-user-select: none;
        --o-user-select: none;
        display: block;   
        width: 40px;
        cursor: pointer;
    }

    .navigation{
        position: absolute;
        width: 100vw;
        max-height: 0px;
        overflow: hidden;
        top: 100%;
        left: 0px;
        background: var(--color-background);
        box-shadow: var(--shadow-header);
        border-top: 1px solid var(--color-gray-opacity);
        transition: max-height 1s;
    }

    .navigation.active {
        width: 100vw;
        max-height: 265px;
    }

    .list-navigation {
        width: 100vw;
        flex-direction: column;
        padding: 0px 16px;
    }

    .list-item a{
        border-bottom: 1px solid var(--color-gray-opacity);
    }

    .list-item a.link-active {
        border-radius: none;
    }

    /*-- hero --*/
    .hero-content {
        max-width: 100%;
        flex-direction: column;
        gap: 52px;
    }

    .img-hero-accent {
        width: 256px;
        height: 226px;
    }
}

@media (max-width: 480px) {
    /*-- Global */

    h1 {
        font-size: 2rem;
    }

    /*-- hero --*/
    .text-hidden {
        display: none;
    }

    .img-hero-accent {
        width: 192px;
        height: 170px;
    }
}

@media (max-width: 320px) {
    /*-- Global */

    h1 {
        font-size: 1.5rem;
    }

    /*-- hero --*/
    .container-img-hero {
        display: none;
    }
}