   /*-- Main --*/

.sections-main {
    align-items: center;
    padding: 100px 20px;
}


        /*-- About --*/

.about-container {
    position: relative;
    width: 100svw;
    align-items: baseline;
    gap: 20px;
    padding-left: 10%;
}

            /*-- About-img --*/

.container-img-about {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
}

.picture-about img {
    border-radius: 5px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.20);
}



            /*-- About-text --*/

.paragraph-about-container {
    max-width:  508px;
    text-align: justify;
    line-height: 24px;
}

.paragraph1-about {
    margin-bottom: 20px;
}

strong.texrimi {
    color:var(--color-yellow)
}

        /*-- Services --*/

.services-container {
    gap: 48px
}

.services-cards {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 8%;
}

.card {
    width: 320px;
    height: 428px;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.20);
}

.card picture {
    display: block;
    width: 320px;
    height: 214px;
}

.card picture img{
    border-radius: 10px 10px 0 0;
}

.card figcaption {
    display: flex;
    height: 214px;
    padding: 0px 10px;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    text-align: center;
}


        /*-- Portfólio --*/

.portfolio-container {
    background: var(--color-gray);
    gap: 48px;
}

.portfolio-header {
    align-items: center;
    gap: 12px;
}

.portfolio-container h2 {
    color: var(--color-yellow);
}

.paragraph-portfolio {
    color: var(--color-white);
}

.container-portfolio-items {
    gap: 20px;
    justify-content: center;
}

.portfolio-box-items {
    gap: 20px;
}

.portfolio-items {
    overflow: hidden;
    width: 150px;
    height: 400px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    transition: width 0.3s ease-in-out;
}

.port-active {
    width: 300px;
}

            /*-- Contact --*/

.contact-header {
    width: 500px;
    align-items: center;
    text-align: center;
    gap: 8px;
    margin-bottom: 48px;
}

.container-address {
    gap: 48px;
    align-items: center;
    font-style: normal;
}

.container-main .container-address .social-media {
    width: fit-content;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    flex-direction: row;
    padding: 10px 0px;
    border-radius: 10px;
}


.link-contact {
    display: block;
    width: 220px;
    padding: 20px 10px;
    text-align: center;
}

.paragraph-link-contact {
    margin-top: 16px;
}

.link-contact:hover p {
    color: var(--color-background);
}


.social-media .content-separation{
    align-items: center;
    gap: 10px;

}

.social-media .content-separation hr{
    width: 1px;
    height: 100%;
}

                /* Maps*/

.container-main .container-map {
    flex-direction: row;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

.container-map {
    height: 300px;
}

.container-street {
    width: 300px;
    min-width: 300px;
    background: var(--color-black);
    justify-content: center;
    gap: 48px;
    padding: 0px 20px;
}

.container-street h3 {
    width: fit-content;
    color: var(--color-yellow);
    border-bottom: 2px solid ;
}

.street-link {
    color: var(--color-white);
    font-style: italic;
}

.street-link:hover {
    color: var(--color-yellow);
}
            
            /*-- End-Contact --*/

    /*-- End-Main --*/




    /*---- Medias ----*/

@media (max-width: 1250px) {

        /*-- About --*/

    .about-container {
        padding: 52px
    }

    .container-img-about {
        right: 52px;
    }

        /*-- Services --*/

    .services-cards {
        justify-content: space-between;
        gap: 0px;
    }

        /*-- Portfolio --*/

    .portfolio-items {
        width: 100px;
        height: 400;
        transition: width 0.3s ease-in-out;
    }
    
    .port-active {
        width: 300px;
    }
}

@media (max-width: 1024px) {

        /*-- About --*/

    .about-container {
        align-items: center;
        gap: 48px;
    }

    .container-img-about {
        position: relative;
        right: 0;
        top: 0;
        transform: translateY(0%);
    }

        /*-- Services --*/

    .services-cards {
        flex-direction: column;
        align-items: center;
        gap: 48px;
    }

    /*-- Portfolio --*/

    .container-portfolio-items {
        flex-direction: column;
        align-items: center;
        justify-content: baseline;
    }

    .portfolio-items {
        width: 150px;
    }
    
    .port-active {
        width: 300px;
    }

    /*-- Contact --*/

    .container-map {
        width: 90svw;
    }

    .container-iframe, .container-iframe iframe {
        width: auto;
        flex: 1;
    }

}

@media (max-width: 768px), (max-height: 480px) and (orientation: landscape) {

    /*-- Portfolio --*/

    .container-portfolio-items {
        flex-direction: column;
        align-items: center;
        justify-content: baseline;
    }

    .portfolio-items {
        width: 100px;
    }

    .portfolio-items, .portfolio-items picture {
        height: 300px;
    }
    
    .port-active {
        width: 225px;
    }

    /*-- Contact --*/

        /*-- map --*/

    .container-main .container-map {
        flex-direction: column;
        height: 100%;
    }

    .container-map, .container-iframe iframe {
        width: 90svw;
    }

    .container-street {
        width: 100%;
        min-width: 0px;
        gap: 40px;
        padding: 52px 20px;
    }


}

@media (max-height: 320px) and (orientation: landscape) {
        /*-- Portfolio --*/

        .container-portfolio-items {
            flex-direction: column;
            align-items: center;
            justify-content: baseline;
        }
    
        .portfolio-items, .portfolio-items picture {
            height: 200px;
        }

        .portfolio-items, .portfolio-items.port-active {
            width: 150px;
        }
}

@media (max-width: 480px) {

        /*-- About --*/

    .about-container {
        padding: 110px 5svw 0px 5svw;
    }

        /*-- Portfolio --*/

    .container-portfolio-items {
        flex-direction: row;
        justify-content: center;
    }

    .portfolio-items, .portfolio-items picture {
        height: 200px;
    }

    .portfolio-box-items {
        flex-direction: column;
    }

    .portfolio-items, .portfolio-items.port-active {
        width: 150px;
    }


        /*-- Contact --*/

    /*.contact-container {
        padding-bottom: 0px;
    }*/

    .contact-header {
        width: 100%;
    }

    .container-address {
       width: 100svw;
    }

    .container-main .container-address .social-media {
        width: 90svw;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 0px;
        border-radius: 10px;
    }

    .link-contact {
        display: block;
        width: 50%;
        padding: 20px 10px;
        text-align: center;
    }

}

@media (max-width: 360px) {
    /*-- Services --*/
    .card picture {
    display: none;
    }

    .card {
    width: 90svw;
    height: fit-content;
    }

    /*-- Portfolio --*/

    .container-portfolio-items {
        gap: 10px;
    }

}

@media (max-width: 320px){
    /*-- Portfolio --*/

    .container-portfolio-items {
        flex-direction: column;
        justify-content: center;
    }

    /*-- Contact --*/

    .container-main .container-address .social-media {
        flex-direction: column;
        align-items: center;
    }

    .link-contact {
        width: 100%;
    }

    .social-media .content-separation.flex-column {
        width: 100%;
        flex-direction: row;
        padding: 0px 10px;
    }

    .social-media .content-separation.flex-column hr{
        display: block;
        width: 100%;
        height: 1px;
    }
} 

@media (max-width: 280px){
    /*-- About --*/
    .container-img-about {
        display: none;
    }

    /*-- Portfolio --*/
    .container-portfolio-items {
        flex-direction: column;
        justify-content: center;
    }

    /*-- Contact --*/

    .contact-container {
        padding-bottom: 0px;
    }

    .paragraph-contact {
        display: none;
    }

            /*-- map --*/

    .container-map {
        width: 100svw;
    }

    .container-iframe {
        display: none;
    }

    .container-street {
        align-items: center;
        text-align: center;
    }
} 
