   /*-- Main --*/

   .sections-main {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 100px 20px;
}


        /*-- About --*/

.about-container {
    position: relative;
    width: 100%;
    /*-webkit-box-align: baseline;
        -ms-flex-align: baseline;*/
            align-items: flex-start;
    padding-left: 10%;
}

            /*-- About-img --*/

.container-img-about {
    position: absolute;
    width: 400px;
    height: 398px;
    background-image: url('../imagens/sobre/sjpg/sobre400.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    right: 10%;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    border-radius: 5px;
    -webkit-box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
            box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

            /*-- About-text --*/

.paragraph-about-container {
    max-width:  508px;
    text-align: justify;
    line-height: 24px;
}

.paragraph1-about {
    margin-bottom: 20px;
}

strong.texrimi {
    color:var(--color-yellow)
}

        /*-- Services --*/

/*.services-container {
    gap: 48px;
}*/

.services-cards {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /*gap: 8%;*/
}

.card {
    width: 320px;
    height: 428px;
    border-radius: 10px;
    margin: 20px;
    -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.20);
            box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.20);
}

.card .img-card {
    width: 100%;
    height: 214px;
    border-radius: 10px 10px 0px 0px;
}

.img-card-1 {
    background-image: url('../imagens/services/services-jpg/forro-320.jpg');
}

.img-card-2 {
    background-image: url('../imagens/services/services-jpg/pintura-320.jpg');
}

.img-card-3 {
    background-image: url('../imagens/services/services-jpg/molduras-320.jpg');
}

.card .card-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 214px;
    padding: 0px 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 16px;
    text-align: center;
}

.paragraph-card {
    font-size: 0.9rem;
}


        /*-- Portfólio --*/

.portfolio-container {
    width: 100svw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: var(--color-gray);
    gap: 48px;
}

.portfolio-header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 12px;
}

.portfolio-container h2 {
    color: var(--color-yellow);
}

.paragraph-portfolio {
    color: var(--color-white);
}

.container-portfolio-items {
    gap: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.portfolio-box-items {
    gap: 20px;
}

.portfolio-items {
    overflow: hidden;
    width: 150px;
    height: 400px;
    -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    -webkit-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
}

.port-active /*.portfolio-items:hover*/ {
    width: 300px;
}

            /*-- Contact --*/

.contact-header {
    width: 500px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    gap: 8px;
    margin-bottom: 48px;
}

.container-address {
    gap: 48px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-style: normal;
}

.container-main .container-address .social-media {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 10px 0px;
    border-radius: 10px;
}


.link-contact {
    display: block;
    width: 220px;
    padding: 20px 10px;
    text-align: center;
}

.paragraph-link-contact {
    margin-top: 16px;
}

.link-contact.link-contact-active p {
    color: var(--color-yellow);
}


.social-media .content-separation{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;

}

.social-media .content-separation hr{
    width: 1px;
    height: 100%;
}

                /* Maps*/

.container-main .container-map {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

.container-map {
    height: 300px;
}

.container-street {
    width: 300px;
    min-width: 300px;
    background: var(--color-black);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 48px;
    padding: 0px 20px;
}

.container-street h3 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: var(--color-yellow);
    border-bottom: 2px solid ;
}

.street-link {
    color: var(--color-white);
    font-style: italic;
}

.street-link.link-contact-active {
    color: var(--color-yellow);
}
            
            /*-- End-Contact --*/

    /*-- End-Main --*/

    /*-- Supports --*/

@supports (height: 100svh){

    .container-img-about {
        background-image: url('../imagens/sobre/swebp/sobre400.webp')
    }

    .img-card-1 {
        background-image: url('../imagens/services/services-webp/forro-320.webp');
    }
    
    .img-card-2 {
        background-image: url('../imagens/services/services-webp/pintura-320.webp');
    }
    
    .img-card-3 {
        background-image: url('../imagens/services/services-webp/molduras-320.webp');
    }

}

    /*-- End-Supports --*/


    /*---- Medias ----*/

@media (min-width: 1920px) {
   .container-main.flex-column {
        width: 100svw;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .about-container {
        max-width: 1920px;
        padding-left: 250px;
    }

    .container-img-about {
        right: 250px;
    }

    /*-- Portfolio --*/

    .portfolio-header {
        max-width: 1920px;
    }

    .container-portfolio-items {
        max-width: 1920px;
    }
}

@media (max-width: 1250px) {

        /*-- About --*/

    .about-container {
        padding: 52px
    }

    .container-img-about {
        right: 52px;
    }

        /*-- Services --*/

    .services-cards {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        gap: 0px;
    }

        /*-- Portfolio --*/

    .portfolio-items {
        width: 100px;
        height: 400;
        -webkit-transition: width 0.3s ease-in-out;
        -o-transition: width 0.3s ease-in-out;
        transition: width 0.3s ease-in-out;
    }
    
    .port-active {
        width: 300px;
    }
}

@media (max-width: 1024px) {

        /*-- About --*/

    .about-container {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 48px;
    }

    .container-img-about {
        position: relative;
        content: url('../imagens/sobre/texrimisobre-300.jpg');
        right: 0;
        top: 0;
        -webkit-transform: translateY(0%);
            -ms-transform: translateY(0%);
                transform: translateY(0%);
    }

        /*-- Services --*/

    .services-cards {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 48px;
    }

    /*-- Portfolio --*/

    .container-portfolio-items {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: baseline;
            -ms-flex-pack: baseline;
                justify-content: baseline;
    }

    .portfolio-items {
        width: 150px;
    }
    
    .port-active {
        width: 300px;
    }

    /*-- Contact --*/

    .container-map {
        width: 90svw;
    }

    .container-iframe, .container-iframe iframe {
        width: auto;
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
    }

}

@media (max-width: 768px) {
    /*-- About img --*/

    .container-img-about {
        content: url('../imagens/sobre/texrimisobre-200.jpg');
    }
}

@media (max-width: 768px), (max-height: 480px) and (orientation: landscape) {

    /*-- Portfolio --*/

    .container-portfolio-items {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: baseline;
            -ms-flex-pack: baseline;
                justify-content: baseline;
    }

    .portfolio-items {
        width: 100px;
    }

    .portfolio-items, .portfolio-items picture {
        height: 300px;
    }
    
    .port-active {
        width: 225px;
    }

    /*-- Contact --*/

        /*-- map --*/

    .container-main .container-map {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: 100%;
    }

    .container-map, .container-iframe iframe {
        width: 90svw;
    }

    .container-street {
        width: 100%;
        min-width: 0px;
        gap: 40px;
        padding: 52px 20px;
    }


}

@media (max-width: 480px), (max-height: 480px) and (orientation: landscape) {
    .container-img-about {
        content: url('../imagens/sobre/texrimisobre-150.jpg');
    }
}

@media (max-width: 480px) {

        /*-- About --*/

    .about-container {
        padding: 110px 5svw 0px 5svw;
    }

        /*-- Portfolio --*/

    .container-portfolio-items {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .portfolio-items, .portfolio-items picture {
        height: 200px;
    }

    .portfolio-box-items {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .portfolio-items, .portfolio-items.port-active {
        width: 150px;
    }


        /*-- Contact --*/

    /*.contact-container {
        padding-bottom: 0px;
    }*/

    .contact-header {
        width: 100%;
    }

    .container-address {
       width: 100svw;
    }

    .container-main .container-address .social-media {
        width: 90svw;
        -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
                box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding: 10px 0px;
        border-radius: 10px;
    }

    .link-contact {
        display: block;
        width: 50%;
        padding: 20px 10px;
        text-align: center;
    }

}

@media (max-width: 360px) {
    /*-- Services --*/
    .img-card {
    display: none;
    }

    .card {
    width: 90svw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    }

    /*-- Portfolio --*/

    .container-portfolio-items {
        gap: 10px;
    }

}

@media (max-height: 320px) and (orientation: landscape) {
    /*-- Portfolio --*/

    .container-portfolio-items {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: baseline;
            -ms-flex-pack: baseline;
                justify-content: baseline;
    }

    .portfolio-items, .portfolio-items picture {
        height: 200px;
    }

    .portfolio-items, .portfolio-items.port-active {
        width: 150px;
    }
}

@media (max-width: 320px){
    /*-- Portfolio --*/

    .container-portfolio-items {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    /*-- Contact --*/

    .container-main .container-address .social-media {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .link-contact {
        width: 100%;
    }

    .social-media .content-separation.flex-column {
        width: 100%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        padding: 0px 10px;
    }

    .social-media .content-separation.flex-column hr{
        display: block;
        width: 100%;
        height: 1px;
    }
} 

@media (max-width: 280px){
    /*-- About --*/
    .container-img-about {
        display: none;
    }

    /*-- Portfolio --*/
    .container-portfolio-items {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    /*-- Contact --*/

    .contact-container {
        padding-bottom: 0px;
    }

    .paragraph-contact {
        display: none;
    }

            /*-- map --*/

    .container-map {
        width: 100svw;
    }

    .container-iframe {
        display: none;
    }

    .container-street {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center;
    }
} 