#home {
    width: 100vw;
    height: 100vh;
    background: #8B939C;
    background: var(--color-background);
    position: relative;
}

header {
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 72px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #8B939C;
    background: var(--color-background);
    padding: 0px 20px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: var(--shadow-1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: var(--shadow-1);
    z-index: 10;
}

.list-navigation {
    list-style: none;
}

.link-nav {
    display: block;
    color:  #403F3F;
    color: var(--color-gray);
    padding: 20px;
    border-radius: 10px;
}

.link-nav:hover /*.link-nav-active*/ {
    color: #fff;
    color: var(--color-white);
    background: #403F3F;
    background: var(--color-gray-opacity);
}

.container-menu {
    display: none;
}

        /*-- End-Header --*/

                /*-- Hero --*/
    
.hero-container {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 8%;
}

.hero-content {
    width: 40%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.paragraph-hero {
    max-width: 100%;
    font-weight: 200;
    color: #fff;
    color: var(--color-white);
    margin-bottom: 72px;
}

.btn-home {
    display: block;
    width: 280px;
    height: 44px;
    line-height: 44px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    color: var(--color-white);
    background: #A68217;
    background: var(--color-yellow);
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: var(--shadow-1);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
            box-shadow: var(--shadow-1);
}

.btn-home:hover/*.btn-active, .btn-home:active*/{
    cursor: pointer;
    background: #7b6219;
    background: var(--color-yellow-hover);
    -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
            transform: scale(1.03);
} 

    /*-- image-hero --*/

.container-img-hero {
    position: absolute;
    top: 50%;
    right: 8%;
    -webkit-transform: translate(0%, -50%);
        -ms-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
}

.picture-hero {
    z-index: 2;
    position: absolute;  
}

.picture-hero img {
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25); 
    -webkit-box-shadow: var(--shadow-1);  
            box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
            box-shadow: var(--shadow-1);
}

.img-hero-accent {
    position: relative;
    width: 512px;
    height: 452px;
    left: 20px;
    top: 20px;
    background: #403F3F;
    background: var(--color-gray);
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: var(--shadow-2);	
            box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
            box-shadow: var(--shadow-2);
    z-index: 1;
}
    
            /*-- End-hero --*/

            /*-- Scroll-Indicator --*/

.scroll-indicator {
    position: absolute;
    bottom: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    text-align: center;
    font-size: 0.9rem;
    color: #403F3F;
    color: var(--color-gray);
}

.scroll-indicator span ion-icon {
    width: 20px;
    color: #403F3F;
    color: var(--color-gray);
}

            /*-- Supports --*/

@supports (height: 100svh) {
    #home {
        width: 100svw;
        height: 100svh;
    }
}

            /*-- Animations --*/

                /*-- Menu-Navigation --*/

.open-menu.active {
    -webkit-animation: iconopen .5s ease-in-out;
            animation: iconopen .5s ease-in-out;
}

.close-menu.active {
    -webkit-animation: iconclose  .5s ease-in-out;
            animation: iconclose  .5s ease-in-out;
}

@-webkit-keyframes iconopen {
    from {
        -webkit-transform: rotate(60deg);
                transform: rotate(60deg);
        opacity: 0;
    } 
    
    to {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
        opacity: 1;
    }
}

@keyframes iconopen {
    from {
        -webkit-transform: rotate(60deg);
                transform: rotate(60deg);
        opacity: 0;
    } 
    
    to {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
        opacity: 1;
    }
}

@-webkit-keyframes iconclose {
    from {
        -webkit-transform: rotate(-60deg);
                transform: rotate(-60deg);
        opacity: 0;
    } 
    
    to {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
        opacity: 1;
    }
}

@keyframes iconclose {
    from {
        -webkit-transform: rotate(-60deg);
                transform: rotate(-60deg);
        opacity: 0;
    } 
    
    to {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
        opacity: 1;
    }
}
    
                /*-- End-Menu-Navigation --*/
    
            /*-- End-Animations --*/

            
            /*---- Media queries ----*/

@media (min-width: 1920px) {
    header {
        max-width: 1920px;
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
    }

    .hero-container {
        padding-left: 120px;
        max-width: 1920px;
        margin: 0 auto;
    }

    .container-img-hero {
        right: 120px;
    }
}

@media (min-width: 1251px) and (max-width: 1440px) {
    .hero-container {
        padding-left: 8%;
    }

    .container-img-hero {
        right: 8%;
    }
}

@media (max-width: 1366px) and (max-height: 480px) and (orientation: landscape) {
    /*-- header --*/
    header {
        height: 52px;
    }

    .link-nav {
        padding: 10px 20px;
    }

    /*-- hero --*/

    .hero-content {
        max-width: 70%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .paragraph-hero {
        margin-bottom: 24px;
    }

    .btn-home {
        width: 220px;
        height: 40px;
        line-height: 40px;
        font-size: 0.8rem;
    }

    /*-- Img --*/

    .container-img-hero {
        display: none;
    }

    /*-- Scroll-indicator --*/

    .scroll-indicator {
        left: 96%;
        font-size: 0.8rem;
    }

    .scroll-indicator .text-hidden {
        display: none;
    }
}

@media (max-width: 1250px) {

    .container-img-hero {
        position: relative;
        right: 0%;
        -webkit-transform: translate(0%, 0%);
            -ms-transform: translate(0%, 0%);
                transform: translate(0%, 0%);
        margin-bottom: 60px;
    }
}

@media (min-width: 1025px) and (max-width: 1250px) and (min-height: 481px) and (max-height: 1024px) {

    .hero-container {
        padding-left: 5%;
    }

    .hero-content {
        max-width: 48%;
    }

    .container-img-hero {
        position: absolute;
        right: 5%;
        -webkit-transform: translate(0%, -50%);
            -ms-transform: translate(0%, -50%);
                transform: translate(0%, -50%);
    }

    .img-hero-accent {
        width: 384px;
        height: 339px;
    }
}

@media (max-width: 1024px) {
    .hero-container {
        padding: 0px 8%;
    }

    .hero-content {
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .paragraph-hero {
        width: 100%;
        margin-bottom: 40px;
    }

    .img-hero-accent {
        width: 384px;
        height: 339px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) and (min-height: 1025px) {

    .hero-container {
        padding-left: 2%;
    }

    .hero-content {
        width: 60%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    /*.paragraph-hero {
        margin-bottom: 40%;
    }*/

    /*-- img --*/

    .container-img-hero {
        position: absolute;
        right: 4%;
        -webkit-transform: translate(0%, -50%);
            -ms-transform: translate(0%, -50%);
                transform: translate(0%, -50%);
    }

    .img-hero-accent {
        width: 256px;
        height: 226px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) and (min-height: 681px)  and (max-height: 880px) {

    .hero-container {
        padding-left: 5%;
    }

    .hero-content {
        width: 80%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .img-hero-accent {
        width: 256px;
        height: 226px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) and (min-height: 481px)  and (max-height: 700px) {

    .hero-container {
        padding-left: 4%;
    }

    .hero-content {
        width: 60%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    /*-- img --*/

    .container-img-hero {
        position: absolute;
        right: calc(4% + 20px);
        -webkit-transform: translate(0%, -50%);
            -ms-transform: translate(0%, -50%);
                transform: translate(0%, -50%);
    }

    .img-hero-accent {
        width: 256px;
        height: 226px;
    }
}

@media (max-height: 620px) and (orientation: landscape){

    .img-hero-accent {
        width: 256px;
        height: 226px;
    }
}

@media (max-width: 768px)  {
    /*-- header --*/

    .container-menu {
        display: block;
    }
    
    .open-menu, .close-menu {
        display: none;
        border: none;
        background: transparent;
    }

    .open-menu, .close-menu {
        width: 40px;
        /*font-size: 2.5rem;*/
        color: #403F3F;
        color: var(--color-gray);
    }

    .open-menu.active, .close-menu.active {
        display: block;
        cursor: pointer;
    }

    .navigation{
        position: absolute;
        width: 100%;
        max-height: 0px;
        overflow: hidden;
        top: 100%;
        left: 0px;
        background: #8B939C;
        background: var(--color-background);
        -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: var(--shadow-1);
                box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
                box-shadow: var(--shadow-1);
        /*border-top: 1px solid #403F3F;
        border-top: 1px solid var(--color-gray-opacity);*/
        -webkit-transition: max-height 0.5s;
        -o-transition: max-height 0.5s;
        transition: max-height 0.5s;
    }

    .navigation.active {
        width: 100%;
        max-height: 265px;
    }

    .list-navigation {
        display: none;
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 0px 16px;
    }

    .list-navigation.list-active {
        display: block;
    }

    .list-item .link-nav{
        display: none;
        border-bottom: 1px solid var(--color-gray-opacity);
    }

    .list-navigation.list-active .list-item .link-nav{
        display: block;
    }

    /*-- hero --*/
    .hero-content {
        max-width: 90%;
    }

    .paragraph-hero {
        max-width: 100%;
    }

        /*-- img --*/
    .img-hero-accent {
        width: 256px;
        height: 226px;
    }
}

@media (min-width: 481px) and (max-width: 768px) and (min-height: 480px) and (max-height: 770px) {
    .container-img-hero {
        display: none;
    }  
}

@media (max-width: 480px) {
    /*-- hero --*/

    .hero-container {
        padding: 0px 5%;
    }

    .hero-content {
        width: 100%;
    }

    /*img*/

    .img-hero-accent {
        width: 192px;
        height: 170px;
    }
}

@media (max-width: 480px) and (max-height: 570px) {

    .paragraph-hero {
        margin-bottom: 60px;
    }

    .container-img-hero {
        display: none;
    }  
}

@media (max-width: 320px), (max-height: 460px) {
    header.flexbox {
        display: none;
    }

    /*-- hero --*/
    .hero-content {
        width: 100%;
    }

    .container-img-hero {
        display: none;
    }

    /*-- Scroll-Indicator --*/

    .paragraph-scroll-indicator {
        display: none;
    }

    .scroll-indicator {
        left: 95%;
        bottom: 0%;
        font-size: 1.5rem;
    }
}

@media (max-width: 320px) {
    .hero-content {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center;
    }

    .btn-home {
        width: 100%;
        height: auto;
        line-height: normal;
        padding: 10px;
    }
}

@media (max-width: 280px), (max-height: 200px),(max-width: 320px) and (max-height: 320px) {

    .paragraph-hero {
        display: none;
    }

    .btn-home {
        margin-top: 16px;
    }
}
        